<div class="comments1">
    <div class="row comments-header">
        <div class="col-md-2 mr-0">
            <%= image_tag comment.user.gravatar_url %>
        </div>
        <div class="col-md-10 ml-0 comment-user">
            <span> <%= link_to comment.user.name, class: 'comment-user'%>
            <%= comment.content %> </span><br>
            <div>
                <%# <%= link_to image_tag("like.png", :alt => "like button"), class: 'like-image'  %> 
                <%= render 'likes/comment_form', comment: comment %>

                <div class="text-right">
                    <%= link_to "Edit", edit_comments_path(comment), class: "btn btn-info" %>
                    <%= link_to "Delete", delete_comment_path(comment), 
                                        method: :delete,
                                        data: { confirm: "You sure?" },
                                        class: "btn btn-danger" %>
                </div>

             
            </div>
        </div>
        
            
        
    </div>
</div>