<div>
  <table class="table">
    <thead>
      <tr> 
        <th scope="col">Avatar</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <tbody>
        <%# <li class= "list-unstyled user_idex1">   %>
        <tr>
          <td> <%= image_tag user.gravatar_url, class: "rounded-circle mx-auto" %> </td>

          <td class="align-middle"><h4 class=""><%= link_to user.name.upcase%></h4> </td>
          
          <td class="align-middle"> <%= user.email %> </td>

          <td class="align-middle"> <% if current_user.friend?(user) %>
              <%= link_to "Remove Friend", delete_friend_path(user), 
                                            method: :delete,
                                            data: { confirm: "Are You sure?" },
                                            class: "btn btn-danger" %> 
              
          <% elsif current_user.pending_friends.include?(user) %>
            <%= link_to "Request already sent", "#", class: "btn btn-success"%>
          <% else %>
              <%= form_for(@friendship, url: friendships_path(@friendship)) do |f| %>
                <%= f.hidden_field :user_id, value: current_user.id  %>
                <%= f.hidden_field :friend_id, value: user.id  %>
                <%= f.submit "Add As Friend", class: "btn btn-primary" %>
              <% end %>
          <% end %> </td>
          
        </tr>
    <% end %>
</div>