
<div class="image ">
    
    <%= image_tag @user.gravatar_url, class: "big_avatar" %>
     <%= image_tag @user.gravatar_url, class: "rounded-circle mx-auto small_avatar" %>
</div>
<%# <div class="clearfix">
</div> %>

<div class="row mt-5 profile_body">
   <div class="col-md-5 "> 
        <div class=" bg-white px-3 py-3">
            <h3> <%= link_to @user.name, users_show_path(@user) %>'s Info </h3>
            <%= render 'partials/user_profile_side', user: @user %>
            <p> Name: <%= @user.name.upcase%> </p>
            <p> Email: <%= @user.email%> </p>
            <p> Number of Friends: <%= @user.friends.count%> </p>
            <% if current_user.friends.include?(@user) %>
                <p> Friends </p>
            <% elsif @user == current_user %>
                <p> Hi, <%= current_user.name%>
            <% else %>
                <%= form_for(@friendship, url: friendships_path(@friendship)) do |f| %>
              
                <%= f.hidden_field :friend_id, value: @user.id  %>
                <%= f.submit "Add As Friend", class: "btn btn-primary" %>
              <% end %>
            <% end %>
        </div>
        <hr>

        <div class=" bg-white px-3 py-3 friends">
            <h3> 
                <i class="fas fa-user-friends fa-lg" style="color:Dodgerblue;"></i> 
                <%= link_to 'Friends', friends_path %> 
            </h3>
            <% @user.friends.each do |friend|%>
                <%= render friend%>
            <%end%>
        </div>
        <hr>

        <% if !current_user.mutual_friends(@user).nil?%>
            <div class=" bg-white px-3 py-3 friends">
                
                <h3> <%= image_tag("friend-icon")%>  <%= link_to 'Mutual Friends', friends_path %> </h3>
                <% current_user.mutual_friends(@user).each do |friend|%>
                    <%= render friend%>
                <%end%>
            </div>
        <% end %>

    </div>

    <div class="col-md-7 posts1">
        <div class="bg-white px-3  ">
            <%= render 'posts/form'%>
        </div>
        <div class='clearfix'>
        </div>
        <ul>
         <%= render @user.posts %>
        </ul>
    </div>

</div>
