

<% if user_signed_in? %>
<div class="row">
   <div class="col-md-4"> 
        <%= image_tag current_user.gravatar_url %>
        <h1> Welcome, <%= current_user.first_name %>!</h1>
    </div>

    <div class="col-md-8">
        <%= render 'posts/form' %><br>
        <ul>
         <%= render @posts %>
        </ul>
    </div>

</div>

<% else %>
    <%= render 'partials/new_user'%>
<% end %>
