<h2>Log in</h2>


  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
      <div class="col-sm-3 my-1 ">
        <%= f.label :email, class: "sr-only" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email"%>
      </div> <br>

      <div class="col-sm-3 my-1 ">
        <%= f.label :password, class: "sr-only"%>
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="col-auto my-1 form-check">
          <%= f.check_box :remember_me, class: "form-check-label" %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="col-auto my-1">
        <%= f.submit "Log in" %>
      </div>
    </div>
  <% end %>

  

