<div class="each_post">
    <li>
        <div class="user-posts">
           <%= image_tag post.creator.gravatar_url %> <span class="mr-3  name1"> 
           <%= post.creator.name.titlecase %> <span> 
            <span class="created-date"> Created <%= time_ago_in_words(post.created_at) %> ago. </span>
        </div>
        <div class="clearfix mb-1">
        </div>

        <div class="post_content">
            <%= post.content %><br> 
        </div>

        <hr>
            <%= render 'comments/form', post: post %>
            <%= render post.comments %>
        
        <hr>
        
        <div class="mx-auto">
        <%= link_to "Update", edit_posts_path(post), class: "btn btn-info" %>
        <%= link_to "Delete", delete_post_path(post), 
                                method: :delete,
                                data: { confirm: "You sure?" },
                                class: "btn btn-danger" %>
        </div>                        
    
    </li>
</div>