<div class="each_post">
    <li>
        <div class="user-posts">
           <%= image_tag post.creator.gravatar_url %> <span class="mr-3  name1"> 
           <%= post.creator.name.titlecase %> <span> 
            <span class="created-date"> Created <%= time_ago_in_words(post.created_at) %> ago. </span>
        </div>
        <div class="clearfix mb-1">
        </div>

        <div class="post_content">
            <%= post.content %><br> 
            
            <%= render 'likes/post_form', post: post %>

             <span class="mx-1"> <%= post.likes.count %> </span>
        </div>

        <hr>
            <%= render post.comments %>
            <% if params[:controller] == 'comments' && params[:action] == 'edit' %>
                <% if current_user.id == @comment.user_id%>
                    <%= render 'comments/editform', post: post %>
                <%end%>
            <% else %>
                 <%= render 'comments/form', post: post %>
            <% end %>
        <hr>

        <div class="mx-auto">
        <%= link_to "Update", edit_posts_path(post), class: "btn btn-info" %>
        <%= link_to "Delete", delete_post_path(post), 
                                method: :delete,
                                data: { confirm: "You sure?" },
                                class: "btn btn-danger" %>
        </div>                        
    
    </li>
</div>