<h1> Edit Post </h1>

<div class="container">

  <%= form_for(@post, url: posts_path(@post)) do |x| %>
    <div class="field">     
      <%= x.label :content %><br />
      <%= x.text_area :content, class: "post_box" %>
    </div>

    <div class="field">
      <%= x.hidden_field :user_id, value: current_user.id %>
    </div>

    <div class="actions">
      <%= x.submit "Post", class: "btn btn-primary post_button"  %>
    </div>
  <%end %>

</div>