<h1> welcome to the facebook posts </h1>
<% if user_signed_in?%>
    <%= link_to 'sign_out', destroy_user_session_path, method: :delete %>
    <h4> Hi <%= current_user.name%> </h4>
    <%= image_tag current_user.gravatar_url %>
    <%= link_to 'Create Post', new_posts_path %>
    <%=  render 'posts/post'%>
<%else %>
    <%= link_to 'Sign In', user_session_path%><br>
    <%= link_to 'Sign Up', new_user_registration_path%>
<% end%>

