<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #036ffc;">
  
  <%= link_to 'Facebook-Clone', root_path, class: "navbar-brand font-italic font-weight-bold"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hi,  <%= current_user.first_name  %> </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Your Profile", users_show_path(current_user), class: "dropdown-item" %>
            <%= link_to "Friends", friends_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
         </li>
        
        <li class="nav-item notification" >
          <%= image_tag("notifications")  %>  
          <%# <%= fa_icon('bell', type: :solid, style: 'color: Tomato; width: 20px;') %>
          <% if current_user.friend_requests.count > 0 %> 
            <%= link_to current_user.friend_requests.count, friends_path, class: "notification-count px-1" %>
          <% end %>
        </li>

        <li class="nav-item">    
          <%= link_to 'Find Friends', users_index_path, class: "nav-link" %>
        </li>
    
      <% else %>  
        <%= render 'partials/signin_form' %>
      <% end %>

    </ul>
    
  </div>
</nav>